*{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
.hero{
    position: relative;
    width: 100%;
    height: 100vh;
    background: grey;
}
nav{
    display: flex;
    width: 100%;
    margin: auto;
    padding: 20px 0;
    align-items: right;
    justify-content: space-between;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    margin-left: 75px;
}
nav ul li a{  
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;   
}
nav ul li a:hover{
    color: red;
}
.detail{
    margin-left: 8%;
    margin-top: 13%;
}
.detail h1{
    font-size: 50px;
    color: black;
    margin-bottom: 20px;
}
span{
    color: hwb(44 0% 0% / 0.938);
}
.detail p{
    color: black;
    line-height: 22px;
}
.detail a{
    background: black;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: white;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}
.image{
    width: 45%;
    height: 60%;
    position: absolute;
    bottom: 0;
    right: 100px;
}
.image img{
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}
.image :hover .shape{
    bottom: 40px;
}
.image :hover .mood3{
    left: 45%;
}

.container {
    display: flex;
    margin-top: 2%;
    grid-gap: 15px;
  }
  
  #section1{
    flex: 1;
    display: grid;
    background: hwb(44 0% 0% / 0.938);
    
  }
  #section2{
    flex: 1;
    display: grid;
    background: white;
    
  }
  #section3{
    flex: 1;
    display: grid;
    background: hwb(44 0% 0% / 0.938);
    
  }
  #section4{
    flex: 1;
    display: grid;
    background: white;
    
  }
  #section5{
    flex: 1;
    display: grid;
    background: hwb(44 0% 0% / 0.938);
}

  #line {
    margin-top: 130px;
    height: 20%;
    width: 100%;
    color: hwb(44 0% 0% / 0.938);
    background-color: hwb(44 0% 0% / 0.938);
}

.mur2{
    color: black;
    line-height: 22px;
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100vh;
    background: grey;
}



